*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "century Gothic",sans-serif;
    transition: 0.6s;
}

a{
    color: #fff;
    text-decoration: none;
}
.navlist{
    width: 100%;
    padding: 5px 10vw;
    position: fixed;
    background: rgba(18, 18, 39, 0.9);
    z-index: 10;
}
.navlist ul{
    display: flex;
    list-style-type: none;
}
.navlist ul li:first-child{
    flex: 1;
}
.navlist ul h4{
    font-family: serif;
    color: #fff;
}
.navlist ul a{
    margin-left: 20px;
    font-size: 12px;
}
.navlist ul a:hover{
    color: #f80;
}

/* container*/
.container{
    width: 100%;
    height: 80vh;
    padding-top: 25vh;
    background-image: linear-gradient(#595757c3,#414040c3),url(k.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    text-align: center;
    color: rgba(255, 255, 255, 0.685);
}
.container h1{
    font-family: serif;
    margin-bottom: 20px;
    word-spacing: 5px;
}
.container p{
    margin-bottom: 30px;
    letter-spacing: 2px;
}
.container button{
    padding: 10px;
    background: none;
    border: 1px solid#f08;
}
.container button:hover{
    background: rgba(255, 0, 136, 0.527);
}

                                                /*content-box*/

.content-box{
    width: 80%;
    margin: auto;
}
.content-box>h2{
    text-align: center;
    color: #f80;
    margin: 20px;
}
.content-box>h2::before,.content-box>h2::after{
    content: "------";
    letter-spacing: -5px;
    margin: 0 10px;
}
.content-box.row{
    display: flex;
    justify-content: space-between;
}
.content-box .column{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.content-box img{
    width: 100%;
    height: 100%;
    /* position: 50px; */
    
}
.content-box .column a:last-child{
    position: absolute;
    width: 99.98%;
    height: 98.33%;
    top: 0;
    left: 0;
    bottom: 10%;
    background: #ff8800c3;
    text-align: center;
    line-height: 33vw;
    font-size: 5vw;
}
.content-box .column:hover a:last-child{
    height: 0%;
    bottom: 0%;
    line-height: 30vw;
    font-size: 15vw;
    color: rgb(245, 231, 45);
}
/* FOTTER */
footer{
    margin-top: 40px;
    background: #ccc;

}
footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
footer ul li{
    margin: 10px;
}
@media (max-width:640px) {
    .navlist {
        width: 100%;
        
    }
    .container h1{
        width: 100%;
        font-size: 130%;
    }
    .container{
        width: 100%;
        height: 80vh;
        padding-top: 25vh;
        background-image: linear-gradient(#595757c3,#414040c3),url(k.jpg);
        background-size:cover;
       
     }
    .navlist ul a{
        margin-left: 20px;
        font-size: 10.5px;
    }
    .content-box .column a:last-child{
        position: absolute;
        width: 99.98%;
        height: 98.33%;
        top: 0;
        left: 0;
        bottom: 10%;
        background: #31caf0c3;
        text-align: center;
        line-height: 33vw;
        font-size: 5vw;
    }
    .content-box .column:hover a:last-child{
        height: 0%;
        bottom: 0%;
        line-height: 30vw;
        font-size: 15vw;
        color: rgb(20, 235, 170);
    }
}